.items-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  position: relative;
  overflow: hidden;
  background-color: #022b33;
}

.background-animation {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-image: url('https://www.transparenttextures.com/patterns/food.png');
}

.menu-title {
  font-size: 4rem;
  /* Increased font size */
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  color: white;
  position: relative;
  z-index: 10;
}

.menu-description {
  font-size: 2rem;
  text-align: center;
  max-width: 32rem;
  margin-bottom: 2rem;
  color: #d1d5db;
  position: relative;
  z-index: 10;
}

.current-date {
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #d1d5db;
  position: relative;
  z-index: 10;
}

.theme-title {
  font-size: 1.875rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #ffffff;
  /* Changed color to white for better visibility */
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.33);
  /* Added semi-transparent background */
  padding: 0.5rem 1rem;
  /* Added padding */
  border-radius: 0.5rem;
  /* Added border radius */
}

.food-items {
  display: flex;
  /* Changed from grid to flex */
  flex-wrap: wrap;
  /* Allow items to wrap to the next line */
  gap: 1rem;
  /* Adjusted gap between items */
  justify-content: center;
  /* Center items horizontally */
  width: 100%;
  max-width: 64rem;
  position: relative;
  z-index: 10;
}

.food-item {
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  padding: 1rem;
  /* Decreased padding */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  /* Decreased font size */
  font-weight: 600;
  border: 1px solid #14b8a6;
  color: #14b8a6;
  width: 150px;
  /* Set a fixed width */
  height: 100px;
  /* Set a fixed height */
}

.drink-items {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.drink-item {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.hide-menu-button {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
  background-color: #ef4444;
  transition: all 0.3s;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 20;
}

.hide-menu-button:hover {
  background-color: #dc2626;
}